.campoAt{
    color: white;
}
/* Estilos do sidebar */
.sidebar {
    width: 20%;
    height: 100vh; /* 100% da altura da janela de visualização */
    background-color: var(--color-primary);
    padding: 20px;
    box-sizing: border-box;
    float: left;

    
}
.sidebar h1 {
    color: #ffcc66;
    align-items: center;
}
.sidebar p {
    color: #000;
}
.sidebar .metrics {
    margin-top: 20px;
}
.sidebar .metrics select,
.sidebar .metrics button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.sidebar .buttons {
    margin-top: 20px;
}
.sidebar .buttons button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.sidebar .car-icon {
    text-align: center;
    margin-top: 20px;
}
.sidebar .car-icon i {
    font-size: 100px;
    color: #ffcc66;
}
.main-content {
    margin-left: 20%; /* Espaço para o sidebar */
    padding: 20px;
    overflow: hidden; /* Para evitar problemas de flutuação */
}


      /* Estilo para a tabela */
      .ranking {
          width: 50%; /* Ajuste para manter a largura igual aos gráficos */
          margin-top: 210px;
          margin-left: 70px;
          background-color: rgba(255, 255, 255, 0.8);
          padding: 10px; /* Adiciona espaço ao redor da tabela */
          border-radius: 10px; /* Bordas arredondadas */
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
      }

      .ranking table {
          width: 100%; /* Tabela ocupa toda a largura da div */
          border-collapse: collapse;
      }

      .ranking th,
      .ranking td {
          padding: 10px;
          text-align: center;
          border: 1px solid #000;
      }

      .ranking th {
          background-color: #cc6600;
          color: #fff;
      }

      .ranking td {
          background-color: #ffcc99;
      } 