body {
    margin: 0%;
    padding: 0;
    background-color: #ffffff;
}

.header {
    background: #FF914C;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 12vh;
    justify-content: space-between;
    font-family: "Poppins";
}

.img1 {
    display: flex;
    width: 40px;
    margin-left: 30px;
    height: 100%;
}

.espaco1 {
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-left: -500px;
}   

.espaco1 li, .espaco2 li{
    background-color: white; 
    padding: 8px;
    border-radius: 10px;
    font-size: 18px;
}

.espaco2 {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: black;
}

.espaco2 .atual {
    background-color: rgb(255, 255, 127);
}

.tagTech {
    padding: 30px;
    background-color: #ffffff; 
    position: relative;
    top: 30vh;  
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Poppins";
}

@font-face {
    font-family: "Poppins";
    src: url('Poppins-SemiBold.otf')
}

.nome {
    padding-left: 10px;
    height: 200px;
    margin-left: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 6px solid black ;
}

.LetraT{
    font-size: 300px; 
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
}

.texto_pequeno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 80px;
    margin-left: -50px; 
    margin-top: 150px;
}

.TECH {
    display: flex;
    margin-bottom: 80px;
}

/*Cadastro*/
.background {
    background-image: url(Imagens/Background.png);
}

.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.caixa {
    width: 35rem;
    height: 30rem;
    background-color: rgb(83, 83, 83);
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.caixa .conteudo {
    width: 30rem;
    height: 25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo div {
    display: flex;
    flex-direction: column;
}

.conteudo div #inp {
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    font-weight: bolder;
}

::placeholder {
    color: black;
}

.btn_cadastro {
    font-size: 1.5rem;
    background-color: #FF914C;
    border-radius: 2rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    cursor: pointer;
}

button:hover {
    transition-duration: 0.5s;
    transform: scale(110%);
}