body {
    margin: 0%;
    padding: 0;
    background-color: #ffffff;
}

.header {
    background: #FF914C;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 12vh;
    justify-content: space-between;
    font-family: "Poppins";
}

.img1 {
    display: flex;
    width: 40px;
    margin-left: 30px;
    height: 100%;
}

.espaco1 {
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-left: -500px;
}   

.espaco1 li, .espaco2 li{
    background-color: white; 
    padding: 8px;
    border-radius: 10px;
    font-size: 18px;
}

.espaco2 {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: black;
}

.tagTech {
    padding: 30px;
    background-color: #ffffff; 
    position: relative;
    top: 30vh;  
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Poppins";
}

@font-face {
    font-family: "Poppins";
    src: url('Poppins-SemiBold.otf')
}

.nome {
    padding-left: 10px;
    height: 200px;
    margin-left: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 6px solid black ;
}

.LetraT{
    font-size: 300px; 
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
}

.texto_pequeno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 80px;
    margin-left: -50px; 
    margin-top: 150px;
}

.TECH {
    display: flex;
    margin-bottom: 80px;
}
