.body{
    overflow-y: hidden;
}

.container_gerente{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    padding-top: 8vh;
    justify-content: center;
    margin-left: 15vh;
}
/* .container_gerente span{
    font-size: 1rem;
    position: relative;
    margin-bottom: 20px;

}
.container_gerente span::after{
    content: attr(tooltip1);
    color: white;
    background-color: black;
    opacity: 0;
    position: absolute;
    z-index: 3;
    border-radius: 5px;
    width: 120px;
    height: 20px;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: opacity .25s ease-in-out;
}
.container_gerente span:hover::after{
    opacity: 1;
    visibility: visible;
} */


.faq{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
}
.kpi{
    margin-bottom: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 35vh;
}

.uptime{
    display: flex;
    background-color: #fe914c;
    height: 15vh;
    width: 30vh;
    color: black;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 41px;
}
.efficency{
    display: flex;
    background-color: #fe914c;
    height: 15vh;
    width: 30vh;
    color: black;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 41px;

}

.container_kpi{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.graphics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 15vh;
    margin-left: 3vh;
}


.container_graphic{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-right: 10vh; */
    /* margin-top: 6vh; */
}

#btn_graphic_cpu_next {
    width: 30px;  
    height: 30px;  
    display: flex;
    justify-content: center;  
    align-items: center;  
    background-color: transparent;  
    /* border: 2px solid #000;   */
    border: none; 
    border-radius: 50%;  
    cursor: pointer;
    margin-left: 15vh;  
}

#btn_graphic_cpu_prev{
    width: 30px;  
    height: 30px;  
    display: flex;
    justify-content: center;  
    align-items: center;  
    background-color: transparent;  
    /* border: 2px solid #000;   */
    border: none; 
    border-radius: 50%;  
    cursor: pointer;
    /* margin-left: 15vh;  */
    margin-right: 24vh;
    transform: rotate(180deg);
}



#btn_graphic_cpu_prev svg,
#btn_graphic_cpu_next svg {
    scale: 2.0; 
    height: 100%;  
    fill: #949292;  
    /* transform: scale(1.0); */

}


#here{
    text-decoration: underline; 
    cursor: pointer;
    font-weight: bold;
}
#here_b{
    text-decoration: underline; 
    cursor: pointer;
    font-weight: bold;
}
.faq_page{
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* margin-top: 120px; */

}
.container_faq{
    display: flex;
    /* flex-direction: column; */
    gap: 10vh;
    align-items: center;
    justify-content: space-around;
    margin-top: 18%;
}
.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:justify ;
}
.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:justify ;
}
@media(max-width:1366px){
    .container_gerente{
        height: 90vh;
        margin-left: 35vh;
    }
    .container_kpi{
        height: 24vh;
    }
    .sidebar{
    position: fixed;
    padding-top: 3vh;
    }

}

.fechar{
    position: absolute;
    top: 0;
    left: 95%;
    color: white;
    background-color: red;
    cursor: pointer;
}


