/* #region global */
@font-face {
  font-family: 'Poppins-Light';
  src: url(./fontes/Poppins-Light.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins-Light';
  /* overflow-x: hidden; */
}

body {
  background-color: var(--color-default);
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

:root {
  --font-default: 'Poppins-Light';
  scroll-behavior: smooth;
}

/* colors */
:root {
  --color-default: #efefef;
  --color-primary: #ff914c;
  --color-secondary: #fff178;
  --color-tertiary: #545454;
  --color-quartenary: #202018;
  --color-quinternary: #a6a6a6;
}

.container {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* #endregion */

/* #region header */

.menu-button {
  display: none;
}

.navbar {
  height: 70px;
  position: absolute;
  top: 0;
  right: 20px;
  display: flex;
  align-items: center;
  z-index: 0;
}

.navbar li {
  padding: 0 5px;
}

.navbar li a {
  height: 70px;
  font-weight: 100;
  padding: 10px 15px;
  background-color: var(--color-default);
  color: var(--color-quartenary);
  border-radius: 5px;
  transition: 1s;
}

.navbar li a:hover {
  background-color: var(--color-secondary);
  color: var(--color-quartenary);
  transition: 1s;
}

#logo {
  width: 3%;
  margin-left: 1%;
  margin-top: 10px;
}

.menu {
  width: 100%;
  height: 70px;
  background-color: var(--color-primary);
  position: fixed;
  z-index: 10;
}

/* #endregion */

/* #region home */

.home-container {
  width: 100vw;
  height: 100vh;
}

.home-inner {
  display: flex;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.home-inner-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.home-inner-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-inner-right img {
  width: 50%;
  height: 50%;
}

.home-inner-left img {
  width: 70%;
  height: 70%;
}

/* #endregion */

/* #region sobre */

.sobre-container {
  width: 100vw;
  height: 100vh;

}

.sobre-inner {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: url('../assets/TagTech/img/banner-sobre.png');
  /* \assets\TagTech\img */
  background-size: cover;
  background-repeat: no-repeat;
}

.sobre-inner-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sobre-inner-left {
  width: 60%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  font-size: 120%;
}

.banner1 {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.banner2 {
  margin-left: 210%;
  margin-top: 115%;
  width: 80%;
  height: 50%;
}

/* #endregion */

/* #region cards */

.cards-container {
  width: 100%;
  height: 100vh;
}

.cards-inner {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/TagTech/img/banner-cards6.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.corpo4 .flip-card {
  justify-content: space-between;
  align-items: center;
}

.flip-card {
  border-radius: 15px;
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin-bottom: 5%;
  perspective: 1000px;
  margin: 50px;
  margin-bottom: 10%;
}


.flip-card-inner {
  border-radius: 15px;
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  height: 300px;
  position: fixed;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  height: 300px;

}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 300px;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  position: fixed;

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: var(--color-quinternary);
  color: black;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-front img {
  width: 60%;
}

/* Style the back side */
.flip-card-back {
  background-color: var(--color-secondary);
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
  height: 300px;
  background-color: var(--color-secondary);
  position: fixed;

}

.flip-card-back h1 {
  margin-top: 30%;
}

.corpo4 {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 48vh;
  justify-content: space-evenly;
  width: 100vw;
}

.caixas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 48vh;
  padding-top: 12%;
}

/* #endregion */

/* #region empresas */

.empresas-container {
  height: 100vh;
  width: 100%;
}

.empresas-inner {
  height: 100vh;
  width: 100%;
  background-image: url('../assets/TagTech/img/banner-empresas3.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.empresas-inner-top {
  width: 100%;
  height: 80%;
  display: flex;
}

.empresas-inner-bottom {
  width: 100%;
  height: 20%;
}

.empresas-inner-top-img img {
  width: 50%;
}

.empresas-inner-top-img {
  margin-top: 22%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: solid 5px black;
  border-right: solid 5px black;
}

.empresas-nav li {
  padding: 0 5px;
  margin-left: 41%;
}

.empresas-nav li a {
  height: 70px;
  font-weight: 100;
  padding: 10px 15px;
  background-color: var(--color-primary);
  color: var(--color-quartenary);
  border-radius: 5px;
  transition: 1s;
}

.empresas-nav li a:hover {
  background-color: var(--color-secondary);
  color: var(--color-quartenary);
  transition: 1s;
}


/* #endregion */

/* #region equipe */

#equipe {
  width: 100%;
  height: 100vh;
  padding-top: 8%;
  background-image: url('../assets/TagTech/im g/banner-equipe5.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.equipe-inner {
  width: 100%;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 25%;
  margin-top: 2%;
}

.card {
  background-color: transparent;
  padding: 1em;
  border-radius: 2%;
  width: 10%;
  height: 75%;
}

.card h4 {
  font-size: 20px;
  margin-top: 3%;
}

.card p {
  color: var(--color-secondary);
}

.equipe-container {
  width: 90%;
  height: 85vh;
  text-align: center;
}

.equipe-inner h1 {
  font-size: 50px;
  color: var(--color-tertiary);
  margin-bottom: 3%;
}

/* #endregion */

/* #region cadEmpresa */


.fundo {
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/TagTech/img/fundo-cadastro.png');
  background-size: cover;
  background-repeat: no-repeat;
}


.card-cadastro {
  color: #ffffff;
  background-color: rgb(83, 83, 83);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 370px;
  border-radius: 10px;
  border-style: groove;
  border-color: #fff;
  border-width: 3px;
}

.formulario {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cima {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.baixo {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.campo {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.campo input {
  padding: 1rem;
  /*margin: 1rem;*/
  border-radius: 5px;
  font-weight: bolder;
  outline: none;
}

.botao_cadastrar {
  font-size: 1.5rem;
  background-color: #FF914C;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.5rem 2rem;
  cursor: pointer;
  margin-top: 2%;
  color: black;
}


/* #endregion */

/* #region cadFuncionario */

.background {
  background-image: url(../assets/TagTech/img/fundo-cadastro.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.caixa {
  width: 35rem;
  height: 35Srem;
  background-color: rgb(83, 83, 83);
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-style: dashed;
  border-color: #fff;
  border-width: 5px;
}

.caixa h3 {
  margin-top: 3%;
  color: #ffffff;
}

.caixa .conteudo {
  width: 30rem;
  height: 25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo div {
  display: flex;
  flex-direction: column;
}

.conteudo div input,
select {
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  font-weight: bolder;
}

::placeholder {
  color: black;
}

.btn_cadastro {
  font-size: 1.5rem;
  background-color: #FF914C;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.5rem 2rem;
  cursor: pointer;
  margin-bottom: 2%;
}

button:hover {
  transition-duration: 0.5s;
  transform: scale(110%);
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
  font-size: 0.7rem;
}

.sucesso {
  color: green;
  font-weight: bolder;
  text-align: center;
}

.tratamento_confirmacaoDados_cadastroFuncionario{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #endregion */

/* #region login */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.caixa_login {
  width: 20rem;
  height: 55%;
  background-color: rgb(83, 83, 83);
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-style: dashed;
  border-color: #fff;
  border-width: 5px;
}

.caixa_login h3 {
  margin-top: 3%;
  color: #ffffff;
}

.caixa_login h4 {
  color: #ffffff;
  margin: 15px;
}

.caixa_login .conteudo {
  width: 30rem;
  height: 25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo div {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.conteudo div #inp {
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  font-weight: bolder;
}

::placeholder {
  color: black;
}

.btn_login {
  width: 13.5rem;
  height: 3rem;
  font-size: 1.5rem;
  background-color: #FF914C;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10%;
}

button:hover {
  transition-duration: 0.5s;
  transform: scale(110%);
}

h4 a {
  text-decoration-color: #FF914C;
  color: #FF914C;
  text-decoration: none;
}

/* #endregion */

/* #region responsivo */

/* celulares */
@media (min-width: 320px) and (max-width: 480px) {

  body {
      background: rgb(235, 235, 235);
      background: linear-gradient(90deg, rgba(235, 235, 235, 1) 18%, rgba(241, 154, 66, 1) 100%);
  }

  /* #region header */

  #logo {
      display: none;
  }

  .menu-button {
      display: block;
      margin-left: 85%;
      font-size: 45px;
      background-color: transparent;
      border: none;
      color: var(--color-tertiary);
  }

  .navbar {
      margin-top: 0%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 60%;
  }

  .navbar li {
      display: none;
  }

  .navbar.active {
      flex-direction: column;
      background-color: var(--color-primary);
      top: 0;
      left: 0;
      z-index: 999;
      display: block;
      position: static;
      height: auto;
      right: 0;
      width: 180px;

  }

  .navbar.active li {
      display: block;
      padding: 15px;
  }

  /* #endregion */

  /* #region home */

  .home-container {
      width: 100vw;
      height: 100vh;
  }

  .home-inner {
      display: flex;
      top: 0;
      width: 100vw;
      height: 100vh;
  }

  .home-inner-right {
      width: 0%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
  }

  .home-inner-left {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .home-inner-right img {
      display: none;
  }

  .home-inner-left img {
      width: 80%;
      height: 60%;
  }


  /* #endregion */

  /* #region sobre */

  .sobre-container {
      width: 100vw;
      height: 100vh;

  }

  .sobre-inner {
      width: 100vw;
      height: 100vh;
      display: flex;
      background-image: none;
  }

  .sobre-inner-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .sobre-inner-left {
      width: 100%;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 35%;
      font-size: 90%;
  }


  /* #endregion */

  /* #region cards */

  .cards-container {
      width: 100%;
      height: 100vh;
  }

  .cards-inner {
      width: 100%;
      height: 100vh;
      background-image: none;
  }

  .corpo4 .flip-card {
      justify-content: space-between;
      align-items: center;
  }

  .flip-card {
      border-radius: 15px;
      background-color: transparent;
      width: 300px;
      height: 300px;
      margin-bottom: 5%;
      perspective: 1000px;
      margin: 50px;
      margin-bottom: 30%;
      margin-left: 68px;
  }


  .flip-card-inner {
      border-radius: 15px;
      position: relative;
      width: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      height: 300px;
      position: fixed;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
      height: 300px;

  }

  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
      border-radius: 15px;
      position: absolute;
      width: 100%;
      height: 300px;
      -webkit-backface-visibility: hidden;
      /* Safari */
      backface-visibility: hidden;
      position: fixed;

  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
      background-color: var(--color-secondary);
      color: black;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .flip-card-front img {
      width: 30%;
  }

  /* Style the back side */
  .flip-card-back {
      background-color: var(--color-secondary);
      color: rgb(0, 0, 0);
      transform: rotateY(180deg);
      height: 150px;
      background-color: var(--color-secondary);
      position: fixed;

  }

  .flip-card-back h1 {
      margin-top: 5%;
  }

  .corpo4 {
      background-color: white;
      display: flex;
      flex-direction: column;
      height: 48vh;
      justify-content: space-evenly;
      width: 100vw;
  }

  .caixas {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 10vh;
      padding-top: 12%;
  }

  /* #endregion */

  /* #region empresas */

  .empresas-container {
      height: 100vh;
      width: 100%;
  }

  .empresas-inner {
      height: 100vh;
      width: 100%;
      background-image: none;
  }

  .empresas-inner-top {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .empresas-inner-bottom {
      width: 100%;
      height: 20%;
  }

  .empresas-inner-top-img img {
      width: 30%;
  }

  .empresas-inner-top-img {
      margin-top: 25%;
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: solid 5px black;
      border-right: solid 5px black;
  }

  .empresas-nav li {
      padding: 0 5px;
      margin-left: 0%;
      margin-top: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .empresas-nav li a {
      height: 30px;
      font-weight: 100;
      padding: 5px 5px;
      background-color: var(--color-primary);
      color: var(--color-quartenary);
      border-radius: 5px;
      text-align: center;
      width: 300px;
      font-size: 14px;
  }

  .empresas-nav li a:hover {
      background-color: var(--color-secondary);
      color: var(--color-quartenary);
      transition: 1s;
  }

  /* #endregion */

  /* #region equipe */

  #equipe {
      width: 100%;
      height: 100vh;
      padding-top: 30%;
      background-image: none;
  }

  .equipe-inner {
      width: 100%;
  }

  .card img {
      width: 200px;
      height: 200px;
      border-radius: 25%;
      margin-top: 2%;
  }

  .card {
      background-color: transparent;
      padding: 1em;
      border-radius: 2%;
      width: 10%;
      height: 75%;
  }

  .card h4 {
      font-size: 20px;
      margin-top: 3%;
  }

  .card p {
      color: var(--color-secondary);
  }

  .equipe-container {
      width: 90%;
      height: 85vh;
      text-align: center;
  }

  .equipe-inner h1 {
      font-size: 40px;
      color: var(--color-tertiary);
      margin-bottom: 3%;
  }

  /* #endregion */

  /* #region cadEmpresa */

  .fundo {
      min-height: 100vh;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('./assets/TagTech/img/fundo-cadastro.png');
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  
  .card-cadastro {
      color: #ffffff;
      background-color: rgb(83, 83, 83);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 20rem;
      height: 400px;
      border-radius: 10px;
      border-style: dashed;
      border-color: #fff;
      border-width: 5px;
  }
  
  .formulario {
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  
  .cima {
      display: flex;
      flex-direction: column;
  }
  
  .baixo {
      display: flex;
      flex-direction: column;
  }
  
  .campo {
      display: flex;
      flex-direction: column;
      margin: 10px;
  }
  
  .campo input {
      padding: 3%;
      margin: 2px;
      border-radius: 5px;
      font-weight: bolder;
  }
  
  .botao_cadastrar {
      font-size: 1.5rem;
      background-color: #FF914C;
      border-radius: 5px;
      font-weight: bold;
      padding: 0.5rem 2rem;
      cursor: pointer;
      margin-top: 2%;
  }
  

  /* #endregion */

  /* #region cadFuncionario */

  .background {
      background-image: url('../assets/TagTech/img/fundo-cadastro.png');
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  .cadastro {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
  }
  
  .caixa {
      margin-top: 10%;
      width: 20rem;
      height: 30rem;
      background-color: rgb(83, 83, 83);
      border-radius: 1.5rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      border-style: dashed;
      border-color: #fff;
      border-width: 5px;
  }
  
  .caixa h3 {
      margin-top: 3%;
      margin-bottom: 3%;
      color: #ffffff;
  }
  
  .caixa .conteudo {
      width: 10rem;
      height: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .conteudo div {
      display: flex;
      flex-direction: column;
  }
  
  .conteudo div input,
  select {
      padding: 3%;
      margin: 2px;
      border-radius: 5px;
      font-weight: bolder;
  }
  
  ::placeholder {
      color: black;
  }
  
  .btn_cadastro {
      font-size: 1.5rem;
      background-color: #FF914C;
      border-radius: 5px;
      font-weight: bold;
      padding: 0.5rem 2rem;
      cursor: pointer;
      margin-top: 14%;
  }
  
  button:hover {
      transition-duration: 0.5s;
      transform: scale(110%);
  }
  
  .error {
      color: red;
      font-weight: bold;
      text-align: center;
      font-size: 0.7rem;
  }
  
  .sucesso {
      color: green;
      font-weight: bolder;
      text-align: center;
  }

  /* #endregion */

}

/* tablets */
@media (min-width: 481px) and (max-width: 768px) {

  body {
      background: rgb(235, 235, 235);
      background: linear-gradient(90deg, rgba(235, 235, 235, 1) 18%, rgba(241, 154, 66, 1) 100%);
  }

  /* #region header */

  #logo {
      display: none;
  }

  .menu-button {
      display: block;
      margin-left: 85%;
      font-size: 45px;
      background-color: transparent;
      border: none;
      color: var(--color-tertiary);
  }

  .navbar {
      margin-top: 0%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 80%;
  }

  .navbar li {
      display: none;
  }

  .navbar.active {
      flex-direction: column;
      background-color: var(--color-primary);
      top: 0;
      left: 0;
      z-index: 999;
      display: block;
      position: static;
      height: auto;
      right: 0;
      width: 180px;

  }

  .navbar.active li {
      display: block;
      padding: 15px;
  }

  /* #endregion */

  /* #region home */

  .home-container {
      width: 100vw;
      height: 100vh;
  }

  .home-inner {
      display: flex;
      top: 0;
      width: 100vw;
      height: 100vh;
  }

  .home-inner-right {
      width: 0%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
  }

  .home-inner-left {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .home-inner-right img {
      display: none;
  }

  .home-inner-left img {
      width: 50%;
      height: 60%;
  }


  /* #endregion */

  /* #region sobre */

  .sobre-container {
      width: 100vw;
      height: 100vh;

  }

  .sobre-inner {
      width: 100vw;
      height: 100vh;
      display: flex;
      background-image: none;
  }

  .sobre-inner-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .sobre-inner-left {
      width: 100%;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 31%;
      font-size: 90%;
  }


  /* #endregion */

  /* #region cards */

  .cards-container {
      width: 100%;
      height: 100vh;
  }

  .cards-inner {
      width: 100%;
      height: 100vh;
      background-image: none;
  }

  .corpo4 .flip-card {
      /* justify-content: space-between; */
      align-items: center;
  }

  .flip-card {
      border-radius: 15px;
      background-color: transparent;
      width: 300px;
      height: 200px;
      perspective: 1000px;
      margin: 50px;
      margin-bottom: 18%;
      margin-left: 68px;
  }


  .flip-card-inner {
      margin-bottom: 10%;
      border-radius: 15px;
      position: relative;
      width: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      height: 200px;
      position: fixed;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
      height: 200px;

  }

  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
      border-radius: 15px;
      position: absolute;
      width: 100%;
      height: 200px;
      -webkit-backface-visibility: hidden;
      /* Safari */
      backface-visibility: hidden;
      position: fixed;

  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
      background-color: var(--color-secondary);
      color: black;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .flip-card-front img {
      width: 30%;
  }

  /* Style the back side */
  .flip-card-back {
      background-color: var(--color-secondary);
      color: rgb(0, 0, 0);
      transform: rotateY(180deg);
      height: 150px;
      background-color: var(--color-secondary);
      position: fixed;

  }

  .flip-card-back h1 {
      margin-top: 5%;
  }

  .corpo4 {
      background-color: white;
      display: flex;
      flex-direction: column;
      height: 48vh;
      justify-content: space-evenly;
      width: 100vw;
  }

  .caixas {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 5vh;
      padding-top: 9%;
      margin-left: 20%;
  }

  /* #endregion */

  /* #region empresas */

  .empresas-container {
      height: 100vh;
      width: 100%;
  }

  .empresas-inner {
      height: 100vh;
      width: 100%;
      background-image: none;
  }

  .empresas-inner-top {
      padding-top: 10%;
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .empresas-inner-bottom {
      width: 100%;
      height: 20%;
  }

  .empresas-inner-top-img img {
      width: 20%;
  }

  .empresas-inner-top-img {
      margin-top: 10%;
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: solid 5px black;
      border-right: solid 5px black;
  }

  .empresas-nav li {
      padding: 0 5px;
      margin-left: 0%;
      margin-top: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .empresas-nav li a {
      height: 30px;
      font-weight: 100;
      padding: 5px 5px;
      background-color: var(--color-primary);
      color: var(--color-quartenary);
      border-radius: 5px;
      text-align: center;
      width: 300px;
      font-size: 14px;
  }

  .empresas-nav li a:hover {
      background-color: var(--color-secondary);
      color: var(--color-quartenary);
      transition: 1s;
  }

  /* #endregion */

  /* #region equipe */

  #equipe {
      width: 100%;
      height: 100vh;
      padding-top: 20%;
      background-image: none;
  }

  .equipe-inner {
      width: 100%;
  }

  .card img {
      width: 200px;
      height: 200px;
      border-radius: 25%;
      margin-top: 2%;
  }

  .card {
      background-color: transparent;
      padding: 1em;
      border-radius: 2%;
      width: 10%;
      height: 75%;
  }

  .card h4 {
      font-size: 20px;
  }

  .card p {
      color: var(--color-secondary);
  }

  .equipe-container {
      width: 90%;
      height: 85vh;
      text-align: center;
  }

  .equipe-inner h1 {
      font-size: 40px;
      color: var(--color-tertiary);
      margin-bottom: 3%;
  }

  /* #endregion */

  /* #region cadEmpresa */

  .fundo {
      min-height: 100vh;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('./assets/TagTech/img/fundo-cadastro.png');
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  
  .card-cadastro {
      color: #ffffff;
      background-color: rgb(83, 83, 83);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 20rem;
      height: 400px;
      border-radius: 10px;
      border-style: dashed;
      border-color: #fff;
      border-width: 5px;
      margin-top: 5%;
  }
  
  .formulario {
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  
  .cima {
      display: flex;
      flex-direction: column;
  }
  
  .baixo {
      display: flex;
      flex-direction: column;
  }
  
  .campo {
      display: flex;
      flex-direction: column;
      margin: 10px;
  }
  
  .campo input {
      padding: 3%;
      margin: 2px;
      border-radius: 5px;
      font-weight: bolder;
  }
  
  .botao_cadastrar {
      font-size: 1.5rem;
      background-color: #FF914C;
      border-radius: 5px;
      font-weight: bold;
      padding: 0.5rem 2rem;
      cursor: pointer;
      margin-top: 2%;
  }
  

  /* #endregion */

  /* #region cadFuncionario */

  .background {
      background-image: url('../assets/TagTech/img/fundo-cadastro.png');
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  .cadastro {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
  }
  
  .caixa {
      margin-top: 10%;
      width: 20rem;
      height: 30rem;
      background-color: rgb(83, 83, 83);
      border-radius: 1.5rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      border-style: dashed;
      border-color: #fff;
      border-width: 5px;
  }
  
  .caixa h3 {
      margin-top: 3%;
      margin-bottom: 3%;
      color: #ffffff;
  }
  
  .caixa .conteudo {
      width: 10rem;
      height: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .conteudo div {
      display: flex;
      flex-direction: column;
  }
  
  .conteudo div input,
  select {
      padding: 3%;
      margin: 2px;
      border-radius: 5px;
      font-weight: bolder;
  }
  
  ::placeholder {
      color: black;
  }
  
  .btn_cadastro {
      font-size: 1.5rem;
      background-color: #FF914C;
      border-radius: 5px;
      font-weight: bold;
      padding: 0.5rem 2rem;
      cursor: pointer;
      margin-top: 14%;
  }
  
  button:hover {
      transition-duration: 0.5s;
      transform: scale(110%);
  }
  
  .error {
      color: red;
      font-weight: bold;
      text-align: center;
      font-size: 0.7rem;
  }
  
  .sucesso {
      color: green;
      font-weight: bolder;
      text-align: center;
  }

  /* #endregion */

}
#footer{
  height: 48vh;
  background-color: #545454;
  color: #efefef;
  text-align: center;
}
#footer-box{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: #545454;
  color: #efefef;
  height: fit-content;
  padding-top: 2%;
}
#footer hr{
  margin-top: 2%;
  border:black solid 0.1px;
  height: 0.1px;
}
#dev-team{
  font-family: 'Poppins-Light';
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* margin-left: 3.3vh; */
  list-style: decimal;
  background-color: #000000;
  border: #000000 4px;
  border-radius: 10px 20px;
  box-shadow: #d3d3c4 5px 5px;
  padding: 1px 4px 4px 24px;
}
#dev-team li{
  list-style-type:decimal ;
}
#footer-links{
  font-family: 'Poppins-Light';
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  list-style: circle;
  background-color: #000000;
  border: #000000 4px;
  border-radius: 10px 20px;
  box-shadow: #d3d3c4 5px 5px;
  padding: 4% 4% 4% 4%;
}
#input_razaoSocial::placeholder{
  color: #a6a6a6;
}

#input_nomeFantasia::placeholder{
  color: #a6a6a6;
}
#input_cnpj::placeholder{
  color: #a6a6a6;
}
#input_cep::placeholder{
  color: #a6a6a6;

}
#inp_email::placeholder{
  color: #a6a6a6;
}
#input_email::placeholder{
  color: #a6a6a6;
  }
#inp_senha::placeholder{
  color: #a6a6a6;
}
#input_cpf::placeholder{
  color: #a6a6a6;
}
#input_nome::placeholder{
  color: #a6a6a6;
}
#input_telefone::placeholder{
  color: #a6a6a6;
}
#input_codigo::placeholder{
  color: #a6a6a6;
  font-size: 1.4vh;
}
#input_senha::placeholder{
  color: #a6a6a6;
}
#input_confirm_senha::placeholder{
    color: #a6a6a6;
}
#input_cargo option:disabled {
  background-color: #f0f0f0; 
}



/* #endregion */


/* #region perfil_user */

.container_perfil_main{
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.menu_lateral{
  position: relative;
  top: 70px;
  width: 14%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: var(--color-secondary);
}

.menu_lateral span{
  font-size: 25px;
}

.itens1{
  display: flex;
  width: 100%;
  height: 30%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.itens2{
  display: flex;
  width: 100%;
  height: 40%;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

.itens2 img{
  width: 450px;
}


.container_perfil{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.infoPerfil{
  margin-top: 2%;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px #000000 solid;
  border-radius: 10px;
}

.pfAtual{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.pfAtual img{
  border-radius: 50%;
  height: 130px;
}

.allCp{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.campoAt{
  background-color: var(--color-quinternary);
  font-style: oblique;
  font-size: 20px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 3px;
  width: 400px;
}

.newPerfil{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.newPerfil input{
  text-align: center;
  border-radius: 2px;
  outline: none;
}

.buttonsNewPerfil{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.newPerfil button{
  margin-top: 20px;
  background-color: var(--color-primary);
  /* background-color: var(); */
  height: 35px;
  font-size: 20px;
  width: 130px;
  border-radius: 5px;
  border: 0px;
  font-weight: bolder;
}

.inpAt{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.newPerfil img{
  /* border-radius: 50%; */
  height: 100px;
  width: 100px;
}





.newImg{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.active{
   background-color: #fff178 !important; 
}



/* #endregion */
/* Tutorial GPT responsividade, TIRAR DEPOIS */
/* @media (max-width: 480px) {
  .ranking, .container_chart {
    width: 100%; 
    margin: 10px 0; 
  }

  #myChart1, #myChart2, #myChart3, #myChart4 {
    max-width: 100%; 
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    display: block;
    text-align: center;
    width: 100%;
  }
}
/* Tutorial GPT responsividade tablet, TIRAR DEPOIS */
/* @media (min-width: 481px) and (max-width: 768px) {
  .ranking, .container_chart {
    width: 48%; 
    margin: 10px; 
  }

  #myChart1, #myChart2, #myChart3, #myChart4 {
    max-width: 80%;
  }
}  */

@media (min-width: 1146px){
  /* .ranking{

    width: 38%; 
    height: 60px; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
  } */
  .container_gerente{
    position: fixed;
    top: 5vh;
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* margin-left: 35vh; */
  }
  .container_dash_gerente{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    width: 92%; 
    height: auto; 
    margin-left: 30%; 
    
  }
  .ranking_downtime{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
  }
  /* canvas{
    max-width: 70vh;
    max-height: 50vh;
  } */
  #grafico_column{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
  }
  #grafico_pizza{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  }
  #myChart1{
    max-width: 55vh; 
    max-height: 45vh;
    width: 45vh !important; 
    height: auto;
    margin-right: 15px;
  }
  #myChart2{
    max-width: 55vh;
    max-height: 45vh;
    width: 45vh !important;
    height: auto;
    /* margin-left: 65vh; */
  }
  #myChart3{
    max-width: 33vh;
    max-height: 40vh;
    width: 33vh !important;
    height: auto;
    /* margin-left: 65vh; */
  }
  #myChart4{
    max-width: 33vh;
    max-height: 40vh;
    width: 33vh !important;
    height: auto;
    /* margin-left: 65vh; */
  }
  .header{
    position: fixed;
    z-index: 1;
  }
  .container_chart{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  /* canvas {
    max-width: 400px;
    max-height: 400px;
  } */
}
@media (max-width: 1210px) {
  .ranking{
    height: 320px;
  }
}

@media (max-width: 1145px) {
  .ranking{
    width: 45%; 
    height: 370px; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 15vh;
  }
.header{
  position: fixed;
  z-index: 1;
  top: 0;
}
.sidebar{
  position: fixed;
  top: 0;
}
#myChart1, #myChart2{
  width: 25vh;
}
#myChart3,#myChart4{
 max-width: 20vh;
 width: 5vh;
 height: auto;
}
.container_gerente{
  position: absolute;
  top: 15vh;
  margin-top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50vh;
  }
.container_dash_gerente{
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 20px; 
  width: 100%; 
  height: auto;
  /* margin-left: 0; */
  justify-items: center; 
} 
/* .container_dash_gerente { 
  /* OPÇÃO SEM GRID */
  /* margin-top: 0;
  display: flex; /* Altera para flexbox */
  /* flex-direction: column; /* Coloca os gráficos e ranking em coluna */
  /* align-items: center; /* Centraliza os itens */
  /* width: 100%; 
  height: auto; */


}

.campoAt{
  color: white;
}
/* Estilos do sidebar */
.sidebar {
  width: 20%;
  height: 100vh; /* 100% da altura da janela de visualização */
  background-color: var(--color-primary);
  /* padding: 20px; */
  box-sizing: border-box;
  float: left;
  color: #efefef;

}
.sidebar .metrics button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.sidebar p{
    color: #efefef;
}
#Open{
  display: none;
}
.sidebarIcon{
  display: none;
}
.sidebar h1 {
  color: #efefef;
  align-items: center;
}
/* .sidebar p {
  color: #000;
} */
.sidebar .metrics {
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 0.5vh;
}

.sidebar .buttons {
  margin-top: 20px;
}
.sidebar .buttons button {
  width: 85%;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 3vh;
  box-sizing: border-box;
}
.sidebar .car-icon {
  text-align: center;
  margin-top: 20px;
}
.sidebar .car-icon i {
  font-size: 100px;
  color: #ffcc66;
}
.main-content {
  margin-left: 20%; /* Espaço para o sidebar */
  padding: 20px;
  overflow: hidden; /* Para evitar problemas de flutuação */
}


    /* Estilo para a tabela */
    .ranking{
      width: 38%; 
      margin-top: 22vh;
      height: 420px; 
      padding: 10px; 
      border: 1px solid #ddd; 
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.8);
      margin-left: 20vh;
    }

    .ranking table {
        width: 100%; /* Tabela ocupa toda a largura da div */
        border-collapse: collapse;
    }

    .ranking th,
    .ranking td {
        padding: 10px;
        text-align: center;
        border: 1px solid #000;
    }

    .ranking th {
        background-color: #cc6600;
        color: #fff;
        height: 1vh;
    }

    .ranking td {
        background-color: #ffcc99;
        height: 1vh;
        width: 2vh;
    } 
    @media(max-width:375px){
      .sidebar{
        position: fixed;
        z-index: 1;
        top: 0;
        height: 100%;
        margin-right: 0;
        width: 30%;
        transform: translate(-290px);
        transition: transform 0.3s ease;
      }
      .ranking{
        height: 300px;
        width: 110%;
      }
      .container_gerente{
        margin-top: 65%;
        margin-left: 50px;
        padding-right: 250px;
      }
      
      .header{
        z-index: 5;
      }
      .sidebarIcon{
          width: 22px;
          height: 22px;
          display: flex;
          position: absolute;
          z-index: 6;
          top: 50px;
          left: 00px;
          display: flex;
          flex-direction: column;
          /* background-color: whitesmoke; */
          cursor: pointer;

      }
      #myChart1, #myChart2{
        width: 55vh;
        height: 35vh;
        max-height: 35vh;
      }
      #myChart3,#myChart4{
       max-width: 35vh;
       width: 50vh;
       height: auto;
      }
      /* #Open{
        display: block;
      } */
      #Open:checked ~ .sidebar{
        transform: translate(0px);
      }
      .wrapper{
        height: 3px;
        background-color: white;
        transition: all 0.5s;
        display: block;
      }
      .wrapper.second, .wrapper.third{
        margin-top: 3px;
      }
      #Open:checked ~ .sidebarIcon > .wrapper.second{
        opacity: 0;
      }
      #Open:checked ~ .sidebarIcon > .wrapper.first{
        transform: rotate(315deg);
        margin-top: 8px;
      }
      #Open:checked ~ .sidebarIcon > .wrapper.third{
        transform: rotate(-315deg);
        margin-top: -8px
      }
  }